.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-bottom: 1px solid rgb(142, 140, 140);
}
.logo {
    width: 130px;
    margin-left: 50px;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 0 transparent;
}
.logo:hover {
    box-shadow: 0 0 10px #ffffff;
}
.btndrop {
    background-color: #f7e437;
    margin-right: 100px;
    border-radius: 30px;
    width: 150px;
    height: 40px;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 0 transparent;
}

.btndrop:hover {
    box-shadow: 0 0 10px #f7e437;
}

.dropdown-menu {
    background-color: #f7e437;
    font-family: Arial, Helvetica, sans-serif;
}
